<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Number of Products</th>
        <th> Number of Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <%= @product_count %>
        </th>
        <th>
          <%= @category_count %>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to "Products", admin_products_path, class: 'btn btn-lg btn-primary' %>
